@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthStateProvider
@inject IJSRuntime JS
@inject NavigationManager _Nav
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <NavLink href="/Auth/Login" class="nav-link">Login</NavLink>
            <NavLink href="/Auth/Signup" class="nav-link">Sign Up</NavLink>
            <span @onclick="Logout" class="btn btn-dark">Logout</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "Token");
        await Task.Delay(200);
        await AuthStateProvider.LogoutAsync();
        StateHasChanged();
        _Nav.NavigateTo("/MainWebsite/Index", forceLoad: true);
    }

}